// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";


// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

//Farver

$primary-bg: #ead3b8;
$text-primary: #cccccb;

$orange: #ff651a;
$blue: #131588;
$green: #008e25;
$yellow: #e6c922;
$red: #f91e25;

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body {
	background: linear-gradient(135deg, #ead3b8 0%,#ca9369 100%);
	font-family:Candara, sans-serif;
}

// landingpage boxes

.lp1 {
	background: $orange;
	opacity: 0.8;
}

.otext {
	color: $blue;
}

.lprow {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

//logo paere

.logo-style {
	width: 139px;
	min-height: 60px;
	margin-top: 10px;
	margin-left: 0;
}




//grid

.card {
	position: relative;
	overflow: hidden; /* Ensures the overlay doesn't overflow the card */
}

.card-overlay {
	position: absolute;
	bottom: 0;
	start: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #000000;
	padding: 10px;
	opacity: 0;
	transition: opacity 0.3s;
	transform: translateY(100%); /* Initially move the overlay below the card */
}

.card:hover .card-overlay {
	opacity: 1;
	transform: translateY(0); /* Move the overlay back to its original position */
}

.kreakassen{
}


// Logo

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Navbar


// Menu ikon

.navbar-button {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 9999;
	color: $text-primary;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.menu-text {
	color: $text-primary;
}



//CTA cover

.btn-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: transparent; /* Set the background color to transparent */
	border: 2px solid $primary-bg; /* Replace #FF0000 with the desired color code for the border */
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); /* Add a shadow effect to the button */

	padding: 20px 40px;
	font-size: 40px;
	line-height: 1.5;
}

.btn-center:hover {
	background-color: $primary-bg; /* Set the desired background color on hover */
	color: #FFFFFF; /* Set the desired text color on hover */
	border: none;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

button {
	--b: 3px;   /* border thickness */
	--s: .15em; /* size of the corner */
	--c: #BD5532;

	padding: calc(.05em + var(--s)) calc(.3em + var(--s));
	color: var(--c);
	--_p: var(--s);
	background:
					conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
					var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
	transition: .3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: .2em;
}
button:hover,
button:focus-visible{
	--_p: 0px;
	outline-color: var(--c);
	outline-offset: .05em;
}
button:active {
	background: var(--c);
	color: #fff;
}


button {
	font-family: system-ui, sans-serif;
	font-weight: bold;
	font-size: 4rem;
	cursor: pointer;
	border: none;
	margin: .1em;
}


//info cards

.cbb {
	color: $primary-bg;
}


//footer

.foot {
	color: $text-primary;
}

//Cards

.card-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity (last value) as needed */
	padding: 10px;
}

//Kalender

.calendar {
	max-width: 800px;
	margin: 0 auto;
}
