// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";


// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

//Farver

$primary-bg: #ead3b8;
$text-primary: #cccccb;

$brown: #CA9369FF;
$orange: #ff651a;
$blue: #131588;
$green: #008e25;
$yellow: #e6c922;
$red: #f91e25;

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body {
	background: linear-gradient(135deg, #ead3b8 0%,#ca9369 100%);
	font-family:Candara, sans-serif;
}

//logo paere

.logo-style {
	width: 100px;
	min-height: 60px;
	margin-top: 10px;
	margin-left: 0;
}


// Logo

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Navbar

@media (max-width: 991px) {
	.navbar-expand-lg {
		min-height: 60px; /* Adjust the minimum height as needed */
	}
}


// Menu ikon

.navbar-button {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 9999;
	color: $text-primary;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.menu-text {
	color: $text-primary;
}

//Cover title

.overlay-title {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 8vw; /* Adjust the font size using viewport width */
	color: $primary-bg;
	background-color: rgba(202, 147, 105, 0.7);
	padding: 2vw 3vw; /* Adjust the padding using viewport width */
}

@media (max-width: 767px) {
	/* Adjust the top position for small screens */
	.overlay-title {
		top: 80%; /* You can change this value based on your desired position */
	}
}




//CTA cover

.position-relative {
	position: relative;
}

.overlay {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-center {
	display: block;
	background-color: $brown;
	border: 2px solid $primary-bg;
	padding: 40px 60px;
	font-size: 60px;
	line-height: 1.5;
	text-align: center;
	cursor: pointer;
}

.btn-center:hover {
	background-color: $primary-bg;
	color: $brown;
	border: none;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
	/* Adjust the button styles for smaller screens */
	.btn-center {
		padding: 15px 30px;
		font-size: 30px;
	}
}

@media (max-width: 479px) {
	/* Further adjust the button styles for even smaller screens */
	.btn-center {
		padding: 10px 20px;
		font-size: 20px;
	}
}

/* The rest of your button styles */
button {
	--b: 3px;   /* border thickness */
	--s: .15em; /* size of the corner */
	--c: #ead3b8;

	padding: calc(.05em + var(--s)) calc(.3em + var(--s));
	color: var(--c);
	--_p: var(--s);
	background:
					conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
					var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
	transition: .3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: .2em;
}

button:hover,
button:focus-visible {
	--_p: 0px;
	outline-color: var(--c);
	outline-offset: .05em;
}

button:active {
	background: var(--c);
	color: #fff;
}

button {
	font-family: system-ui, sans-serif;
	font-weight: bold;
	font-size: 4rem;
	cursor: pointer;
	border: none;
	margin: .1em;
}



//footer

.foot {
	color: $text-primary;
}

//Kalender

.calendar {
	max-width: 800px;
	margin: 0 auto;
}
 .card{
	 color: #000000;
	 background-color: $primary-bg;
	 max-width: 40rem;
 }

 // KreaKASSEN

.img-thumbnail {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid var(--bs-border-color);
	border-radius: .375rem;
	max-width: 500px;
	height: auto;
}

.tile {
	position: relative;
	overflow: hidden;
	background-color: transparent;
	height: 294px;
	width: 294px;
	border: 3px solid $brown;
}

.tile-image {
	position: relative;
	overflow: hidden;
	height: 100%; /* fill the height of the parent container */
}

.tile-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.tile-content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	color: #fff;
}

.tile-content h3 {
	margin-bottom: 10px;
	font-size: 18px;
}

.tile-content p {
	font-size: 14px;
}

//Karoussel

.carousel-item img {
	max-height: 400px;
	object-fit: contain;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	border-radius: 5px;
}

//Samarbejde

.btn-primary{
	background-color: $green;
	border-color: $green;
}

.btn-primary:hover {
	background-color: $orange;
	border-color: $orange;
}

// Bogstav coloring

.red {
color: $red;
}

.orange {
	color: $orange;
}

.blue {
	color: $blue;
}

.yellow {
	color: $yellow;
}

.green {
	color: $green;
}

