// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

//Farver

$primary-bg: #ead3b8;
$text-primary: #cccccb;

$orange: #ff651a;
$blue: #131588;
$green: #008e25;
$yellow: #e6c922;
$red: #f91e25;

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body {
	background: $primary-bg ;
	font-family:Candara, sans-serif;
}

// Logo

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Navbar


// Menu ikon

.navbar-button {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 9999;
	color: $text-primary;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.menu-text {
	color: $text-primary;
}

//CTA cover

.btn-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}



//footer

.foot {
	color: $text-primary;
}

//Cards

.card-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity (last value) as needed */
	padding: 10px;
}

